<div id="mdlNewProducto" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5>Nuevo producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <div class="modal-body">
       
        <form id="formNuevoProducto">

                <div class="card-body">


                <div class="col-md-12">

                 <div class="form-group">
                  <label for="exampleSelectBorder">Imagen:</label>
                  <input type="file" name="fImagen" id="fImagen">
                </div>
                  
                <div class="form-group">
                  <label for="exampleSelectBorder">Categorias:</label>
                  <select class="custom-select form-control-border" id="ddlCategorias">
                    <option>Selecciona una opcion ...</option>
                    
                  </select>
                </div>

                  <div class="form-group">
                    <label for="txtCodigo">Código</label>
                    <input type="text" name="txtCodigo" id="txtCodigo" class="form-control" placeholder="Ingrese código">
                  </div>
                  
                  <div class="form-group">
                    <label for="txtNombre">Nombre</label>
                    <input type="text" name="txtNombre" class="form-control" id="txtNombre" placeholder="Ingrese nombre">
                  </div>


                  <div class="form-group">
                    <label for="txtPrecio">Precio</label>
                    <input type="Number" name="txtPrecio" class="form-control" id="txtPrecio" placeholder="Ingrese precio">
                  </div>

                 </div>


                  
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Guadar</button>
                  <button type="button" onclick="closeModal()" class="btn btn-secondary">Cancelar</button>
                </div>
              </form>


      </div>

      
    </div>
  </div>
</div>


<script>


function closeModal()
{
  $('#mdlNewProducto').modal("hide");
}


$(function () {
  $.validator.setDefaults({
    submitHandler: function () {

      var request_object={};

      request_object.codigo=$("#txtCodigo").val();
      request_object.nombre=$("#txtNombre").val();
      request_object.precio=$("#txtPrecio").val();
      request_object.categoria_id=$("#ddlCategorias").val();

      var fileInput = document.getElementById('fImagen');

      var file=fileInput.files[0];

      var arry_name = file.name.split(".");

      var nombre_imagen = arry_name[0];
      var extension_imagen = arry_name[1];

      var reader = new FileReader();
      reader.readAsDataURL(fileInput.files[0]);

      reader.onload = function () {

        var data = reader.result;
        var arry_data = data.split(",");

        data = arry_data[1];

        request_object.imagen={};
        request_object.imagen.nombre=nombre_imagen;
        request_object.imagen.extension=extension_imagen;
        request_object.imagen.data = data;

        guardarProducto(request_object);

        console.log(request_object);//base64encoded string
      };
      reader.onerror = function (error) {
        console.log('Error: ', error);
      };

      console.log();


      /*
      
    $.ajax({
      method: "POST",
      headers: {"Authorization": "Bearer "+_token},
      url: APIS_URL+"/api/v1/productos",
      data: { codigo: $("#txtCodigo").val(), nombre: $("#txtNombre").val(),precio:$("#txtPrecio").val(),categoria_id: $("#ddlCategorias").val()}
    })
      .done(function( msg ) {
 
    $("#txtCodigo").val("");
    $("#txtNombre").val("");
    $("#txtPrecio").val("");

    $('#mdlNewProducto').modal("hide");

    updateDataTable();
    
    console.log("el producto ha sido guardado");
  
    

      });

*/



    }
  });

  function guardarProducto(params)
  {
      $.ajax({
      method: "POST",
      headers: {"Authorization": "Bearer "+_token},
      url: APIS_URL+"/api/v2/productos",
      data: params
    })
      .done(function( msg ) {
 
      $("#txtCodigo").val("");
      $("#txtNombre").val("");
      $("#txtPrecio").val("");

      $('#mdlNewProducto').modal("hide");

      updateDataTable();
    
        console.log("el producto ha sido guardado");
  
    

      });
  }



  $('#formNuevoProducto').validate({
    rules: {
      txtCodigo: {
        required: true
      },
      txtNombre: {
        required: true
      },
      txtPrecio: {
        required: true
      }
    },
    messages: {
      txtCodigo: {
        required: "Ingrese el valor del codigo"
      },
      txtNombre: {
        required: "Ingrese el nombre"
      },
      txtPrecio: {
        required: "Ingrese el precio"
      }
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
});
</script>