<div id="mdlEditProducto" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5>Editar producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <div class="modal-body">
       
        <form id="formEditProducto">

          <input type="hidden" name="txtId" id="txtId">

                <div class="card-body">


                <div class="col-md-12">

                  <div class="form-group">
                    <label for="txtCodigo">Código</label>
                    <input type="text" name="txtCodigo" id="txtCodigo" class="form-control" placeholder="Ingrese código">
                  </div>
                  
                  <div class="form-group">
                    <label for="txtNombre">Nombre</label>
                    <input type="text" name="txtNombre" class="form-control" id="txtNombre" placeholder="Ingrese nombre">
                  </div>


                  <div class="form-group">
                    <label for="txtPrecio">Precio</label>
                    <input type="Number" name="txtPrecio" class="form-control" id="txtPrecio" placeholder="Ingrese precio">
                  </div>

                 </div>


                  
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Guadar</button>
                  <button type="button" onclick="closeModal()" class="btn btn-secondary">Cancelar</button>
                </div>
              </form>


      </div>

      
    </div>
  </div>
</div>


<script>


function closeModal()
{
  $('#mdlEditProducto').modal("hide");
}


$(function () {
  $.validator.setDefaults({
    submitHandler: function () {

      
      console.log($("#txtId").val());

      $.ajax({
      method: "put",
      url: "http://apis-app.com/api/v1/productos",
      data: { id:$("#txtId").val(),codigo: $("#txtCodigo").val(), nombre: $("#txtNombre").val(),precio:$("#txtPrecio").val() }
    })
      .done(function( msg ) {
 
    $("#txtCodigo").val("");
    $("#txtNombre").val("");
    $("#txtPrecio").val("");

    $('#mdlEditProducto').modal("hide");

    updateDataTable();
    
   

      });





    }
  });

  $('#formEditProducto').validate({
    rules: {
      txtCodigo: {
        required: true
      },
      txtNombre: {
        required: true
      },
      txtPrecio: {
        required: true
      }
    },
    messages: {
      txtCodigo: {
        required: "Ingrese el valor del codigo"
      },
      txtNombre: {
        required: "Ingrese el nombre"
      },
      txtPrecio: {
        required: "Ingrese el precio"
      }
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
});
</script>